@import "../../common/theme/theme.less";

.moe-video-video-page-wrapper {
  width: 90%;
  max-width: 1800px;
  margin: 1% auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

}