@import '../../common/theme/theme.less';

.moe-video-bangumi-index-page-wrapper {
  width: 90vw;
  max-width: 1800px;
  margin: 20px auto;
  border-radius: 10px;
}

.moe-video-bangumi-index-page-index-list {
  grid-template-columns: 3fr 1fr;

  .moe-video-skeleton-card-cover {
    width: 100%;
    aspect-ratio: 3 / 4;
  }
}